
#body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 15%);
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 25px;
    max-width: 500%;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
 /* "We write this so that the zero button is not affected by the width value we set. If this calculator is going to be used on a computer, etc., we don't need to add this." */
 /* If we write this code below, all the buttons will be round */
 /* And it will be dont effected by the device size !!! */
 button:not(#zero-btn) {
    width: 100px;
}

button{
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}
/* We add this so that the zero button occupies two button spaces, and we specify the position of the text inside it. */
#zero-btn {
    grid-column: span 2;
    justify-content: start;
    text-align: left;
    padding-left: 35px;
}

